// All

.info-btn {
  color: $main_font_color;
  font-size: 14px;
  border-bottom: 1px dashed #0d0d0d;
}

.info-btn:hover {
  text-decoration: none;
  color: $main_font_color;
  border-bottom: 1px solid #0d0d0d;
}

.info-btn-white {
  color: #ffffff;
  font-size: 14px;
  border-bottom: 1px dashed #ffffff;
}

.info-btn-white:hover {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.phone-block {
  text-align: right;
  position: relative;
  & > div {
    display: inline-block;
  }
  .phone-icon {
    position: absolute;
    top: 5px;
    left: 29%;
  }
  .tel {
    .tel-number {
      font-size: 18px;
      font-family: $main_font_familyBold;
    }
    .tel-descr {
      font-size: 12px;
      color: #787878;
    }
  }
  .phone-order {
    display: inline-block;
  }
}


// Content

.title-page h2, .title-page h3, .title-page h4 {
  font-size: 24px;
  font-family: $main_font_familyBold;
  text-transform: uppercase;
}

.categories {
  padding-left: 0;
  margin-bottom: 0;
  &__item {
    list-style: none;
    display: inline-block;
    margin: 0 10px 15px 0;
  }
  &__link {
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    padding: 9px 21px 11px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    font-size: 16px;
    color: $main_font_color;
    &:hover, &:active, &:focus {
      color: #ffffff;
      background: linear-gradient(to top,#43a749,#92d696);
    }
  }
}

.after-line {
  position: relative;
  &:after {
    content: "";
    display: block;
    height: 2px;
    background: #f3f3f3;
    width: 83.333%;
    margin-left: 15px;
  }
}

// Header

.logo {
  display: block;
  img {
    width: 100%;
    max-width: 255px;
  }
}

.menu {
  display: inline-block;
}

// Footer

.float-right {
  float: right;
}


// Category
.checked-category {
  color: #ffffff;
  background: linear-gradient(to top,#43a749,#92d696);
}

.active-category {
  display: block !important;
}

// Slider

.bx-pager {
  display: none;
}

.bx-viewport {
  height: auto !important;
}

.bx-wrapper {
  margin: 0 auto 60px;
}

.category-produts .bx-wrapper .bx-controls-direction a {
  position: relative;
  top: 0;
  margin-top: 0;
  outline: 0;
  display: inline-block;
  width: 45px;
  height: 45px;
  opacity: 1;
  background: #fff;
  box-shadow: 0 5px 25px rgba(27,28,28,.1);
  border-radius: 10px;

  &:hover {
    background: linear-gradient(to top,#43a749,#92d696);
    box-shadow: 0 10px 20px rgba(69,168,75,.4);
    .arrow-left, .arrow-right {
      background: url("../img/arrow-white.png") center no-repeat;
    }
    .arrow-left {
      transform: rotate(45deg);
      bottom: 5px;
      right: 5px;
    }

    .arrow-right {
      top: 5px;
      left: 5px;
      transform: rotate(225deg);
    }
  }
}

.arrow-left, .arrow-right {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: 30px;
  width: 18px;
  background: url("../img/arrow.png") center no-repeat;
}

.arrow-left {
  transform: rotate(225deg);
  bottom: 5px;
  right: 5px;
}

.arrow-right {
  top: 5px;
  left: 5px;
  transform: rotate(45deg);
}

.category-produts .bx-wrapper .bx-prev {
  left: 0;
  margin: 0 15px;
  transform: rotate(-45deg);
}

.category-produts .bx-wrapper .bx-next {
  right: 0;
  margin: 0 15px;
  transform: rotate(-45deg);
}

.bx-controls-direction {
  text-align: center;
}